<html>
	<body>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<colgroup>
					<col class="col-xs-2"> 
					<col class="col-xs-8">
				</colgroup> 
				<tbody>
					<tr>
						<th class="th-table" scope="row">1. V? trí công vi?c</th>
						<td>Nhân s? giao hàng</td>
					</tr>
					<tr>
						<th class="th-table" scope="row">2. Mô t? công vi?c</th>
						<td>Công vi?c c?a nhân viên giao hàng t?i H?ng Ð?c Express c? th? nhu sau: Nhân viên giao hàng s? nh?n hàng t?i kho và di giao hàng và thu ti?n theo d?a ch? trên ki?n hàng dúng th?i gian. Hàng hóa là nh?ng s?n ph?m nh? nh? bán trên các website thuong m?i di?n t? c?a các </td>
					</tr>
					<tr>
						<th class="th-table" scope="row">3. Yêu c?u công vi?c</th>
						<td>- Bi?t di?u khi?n, ch?y xe 2 bánh.<br />
							- N?m rõ du?ng xá trong thành ph? nhu lòng bàn tay c?a b?n.<br />
							- Thái d? ph?c v? t?t vui v? v?i khách hàng khi nh?n hàng và giao hàng.<br />
							- Có tinh th?n trách nhi?m trong công vi?c.<br />
							- Ph?i h?p t?t v?i các b? ph?n liên quan.
						</td>
					</tr>
					<tr>
						<th class="th-table" scope="row">4. Yêu c?u h? so</th>
						<td>H? son xin vi?c g?m:<br />
							- Ðon xin vi?c<br />
							- So y?u lý l?ch (có kèm ?nh m?i nh?t ch?p n?a/c? ngu?i và ?nh chân dung)<br />
							- H? kh?u, ch?ng minh nhân dân và gi?y khám s?c kh?e (b?n copy)<br />
							- Các b?ng c?p có liên quan (b?n copy).<br />
							Luu ý: Các NV du?c trúng tuy?n s? trình các gi?y t? b?n g?c d? d?i chi?u
						</td>
					</tr>
					<tr>
						<th class="th-table" scope="row">5. V? trí công vi?c</th>
						<td>Liên t?c tuy?n d?ng trong nam 2016</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>